@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");

:root {
  --primary: #f0ebd8;
  --secondary: #748cab;
  --bg-color: #0d1321;
  --highlight: #1d2d44;
  --shadow: #0000005e;
}

/* General Styling */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--primary);
  font-family: "Merriweather";
}

body {
  background: rgb(0, 0, 0);
  background: linear-gradient(
    180deg,
    var(--bg-color) 0%,
    var(--highlight) 100%
  );
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

/* Navbar */
nav {
  font-size: 2em;
  padding: 20px 0;
  background-color: var(--highlight);
  box-shadow: 0 5px 10px var(--shadow);
  pointer-events: none;
  margin-bottom: 50px;
}

nav h1 {
  text-align: center;
}

/* Home Page */
.home {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  place-items: center;
  justify-content: center;
}

.home a {
  background-color: var(--primary);
  color: var(--highlight);
  padding: 20px;
  text-decoration: none;
}

/* Game History */
.games {
  width: 100%;
}

.game-card {
  border: 2px solid var(--primary);
  width: 40vw;
  margin: auto;
}

.game-card ul {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.game-card ul div {
  display: grid;
  list-style: none;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

/* Inputs */
form {
  display: flex;
  flex-direction: column;
  max-width: 700px;
  gap: 30px;
  margin: auto;
  background-color: #0d1321a5;
  border-radius: 30px;
  padding: 50px;
}

form label {
  font-size: 2em;
}

form input, form button {
  background-color: var(--bg-color);
  font-size: 2em;
  color: var(--primary);
  border: 2px solid var(--primary);
  border-radius: 5px;
  padding: 5px;
}

form button {
  margin-top: 30px;
  width: 4em;
  align-self: center;
  transition: all 0.25s ease;
}

form button:hover {
  background-color: var(--primary);
  color: var(--bg-color);
}

/* Board Styling */
.board {
  display: grid;
  grid-template-columns: repeat(3, 6rem);
  place-items: center;
  justify-content: center;
}

.box-x,
.box-o {
  background: rgb(0, 0, 0);
  width: 100px;
  height: 100px;
  border: 1px solid white;
  font-size: 2em;
}
